body {
  background-color: black;
  font-family: Segoe UI;
}

#title {
  color: white;
  margin: auto;
  text-align: center;
}

#booking_info {
  color: white;
  text-align: center;
}

#booking_info_children {
  margin: auto;
  text-align: left;
  width: 12em;
}

#booking_times {
   width: 100%;
   margin: 0;
   overflow: auto;
}

#booking_times_icon {
  width: 13%;
  float: left;
}

#booking_times_values {
  width: 87%;
  float: right;
  text-align: left;
  font-family: Segoe UI;
  color: white;
  font-weight: bold;
}

#map_img_div {
  text-align: center;
}

#booking_footer {
  color: white;
  text-align: center;
}

#return_button {
  background-color: #00ff44;
  margin: auto;
  border-radius: 10px;
  height: 40px;
  width: 90px;
  font-size: 18px;
  font-weight: bold;
  border-style: solid;
  border-color: green;
  border-width: 3px;
}