body {
  background-color: black;
  font-family: Segoe UI;
}

div {
    vertical-align: top;
}

#title {
  color: white;
  margin: auto;
  text-align: center;
}

#bookingSuccessfulDiv {
  color: white;
  text-align: center;
  margin-top: 3em;
}

#bookingInfoChildren {
  margin: auto;
  text-align: left;
  width: 12em;
}

#bookingTimes {
   width: 100%;
   margin: 0;
   overflow: auto;
}

#checkInCode {
   font-size: 500%;
   font-weight: bold;
   margin:0;
   display: block;
}

#checkInCodeTitle {
  margin-top: 2em;
  margin-bottom: 0%;
   font-size: 120%;
   font-weight: bold;
   margin-bottom: 0
   display: block;
}

#bookingTimesIcon {
  width: 13%;
  float: left;
}

h4{
  margin:0;
}

h5{
  margin-top: 0%;
  margin-bottom: 3em;
}

#bookingTimesValues {
  width: 87%;
  float: left;
  text-align: left;
  font-family: Segoe UI;
  color: white;
  margin:0;
  white-space: nowrap;
}

#checkImageDiv {
  text-align: center;
}

#checkImage {
  width:5vh;
  height:5vh;
  vertical-align:middle;
}

#bookingSuccessful {
  font-size: 20px;
  font-weight: bold;
  vertical-align:middle;
}

#bookingInfo {
  color: white;
  text-align: center;
}

#returnButton {
  padding: 10px 50px;
  border: none;
  color: white;
  background-color: green;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  font-size: 25px;
  margin: 20px auto;
  display: block;
  border-radius: 10px;
  border-style: solid;
  border-color: chartreuse;
  font-family: Segoe UI;
  font-weight: bold;
}

table.center {
  margin-right:auto;
  margin-left:auto;
}