body {
  background-color: black;
}

h1 {
  color: white;
  margin-left: auto;
  font-family: Arial;
}

h3 {
  color: white;
  margin-left: 20px;
}

.centeredBlock {
  margin: auto;
  display: block;
}

.center {
  margin-right: auto;
  margin-left: auto;
}

td {
  color: lightblue;
  margin-left: 20px;
  font-family: Arial;
}

select{
  width:100%;
  font-size:15px;
}

.google{
    width:30px;
    height:30px;
    margin-left:10px;
}
.google > img{
    height:100%;
    width:100%;
}

#oauth{
    font-size: 15px;
    margin-top:10px;
    outline:none;
    border:none;
    padding: 10px 20px;
    display:flex;
    justify-content: center;
    align-items:center;
    cursor:pointer;
    border-radius: 5px;
    font-weight:bold;
}
#oauth:hover,
#oauth:active{
    background:rgb(226, 224, 224);
}

#submit {
  padding: 10px 50px;
  border: none;
  color: white;
  background-color: green;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  font-size: 25px;
  margin: 20px auto;
  display: block;
}
