body {
  background-color: grey;
}

h1 {
  color: white;
  margin-left: auto;
  font-family: Arial;
}

h3 {
  color: black;
  margin-left: 20px;
}

.centered-block {
  margin: auto;

  display: block;
}

.center {
  margin-right: auto;
  margin-left: auto;
}




.button {
  padding: 10px 50px;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  font-size: 25px;
  margin: 20px auto;
  display: block;
  border-radius: 10px;
  border-style: solid;
}

.proceedButton {
  padding: 10px 50px;
  border: none;
  color: white;
  background-color: green;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  font-size: 25px;
  margin: 20px auto;
  display: block;
  border-radius: 10px;
  border-style: solid;
  border-color: chartreuse;
  font-family: Segoe UI
}
