{% extends "layout.html" %}
{% block body %}
    <table class="center">
      <tr>
          <td><b>Location</b></td>
      </tr>
      <tr>
          <td><select name="locations" id="locations" width="100">
              <option selected value=null></option>
              {% for location in locations %}
              <option value={{location.location_id}} id="location_id">{{location.name}}</option>
              {% endfor %}
          </select></td>
      </tr>
        <tr>
          <td>
              <button id="oauth" onclick="googleLogin()" type="button">
              Login with google<div class="google">
              <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/2048px-Google_%22G%22_Logo.svg.png">
              </div>
              </button>
          </td>
      </tr>
    </table>
{% endblock %}
