{% extends "layout.html" %}
{% block body %}


<form method="POST" action="/register" id="startScreenForm">
    <table class="center">
      <tr>
          <td><b>Location</b></td>
      </tr>
      <tr>
          <td><select name="locations" id="locations" width="100">
              {% for location in locations %}
              <option value={{location.location_id}} id="location_id">{{location.name}}</option>
              {% endfor %}
          </select></td>
      </tr>
      <tr>
          <td><b>Email</b></td>
      </tr>
      <tr>
          <td><input type="email" style="text-align:left" id="email" name="email" required></td>
      </tr>
      <tr>
          <td><b>Confirm Email</b></td>
      </tr>
      <tr>
          <td><input type="email" style="text-align:left" id="confirmEmail" oninput="checkEmail()" required></td>
      </tr>
      <tr>
          <td><button onclick="handleSubmit()" text-align="center">GO</button></td>
      </tr>
    </table>
</form>
{% endblock %}
