<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../static/css/kit_available.css">
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="../static/js/kit.js"></script>
    </head>
    <body onload="updateNextHour()">
        <div class="parent">
            <div class="title">
                <h1 class="titleText">Sit💡Smart</h1>
            </div>
            <div class="detailBoxHolder">
                <div class="detailBox">
                    <div class="deskTitleBox">
                        <h1 id="tableName">DK-000</h1>
                    </div>
                    <div class="deskAvailabilityBox">
                        <h1>AVAILABLE</h1>
                    </div>
                    <div class="text">
                        This desk is available until
                    </div>
                    <div class="time">
                        <h1 class="nextHour" id="nextHour">...</h1>
                    </div>
                    <div class="text">
                        Tap to claim the<br>
                        desk until this time
                    </div>
                </div>
            </div>
            <div class="bottomBar">
                <div>
                    <input type="submit" value="Claim" id="claim" onclick="clickBook()"/>
                </div>
            </div>
        </div>
    </body>
</html>