<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link rel="stylesheet" href="../static/css/receipt_styles.css">
  </head>
  <body>
    <h1 id="title">SIT💡SMART</h1>
    <div id="bookingSuccessfulDiv">
      <img id="checkImage" src="../static/img/confirmed.png">
      <div id="bookingSuccessful" style='vertical-align:middle; display:inline;'>
        Booking Successful!
      </div>
    </div>

    <div id="bookingInfo">
      <h4 id="checkInCodeTitle">Check-In Code:</h4>
      <h3 id="checkInCode">{{ booking_password }}</h3>
      <h5>Input this code into the screen provided <br>at your desks at their start time</h5>
      <div id="bookingInfoChildren">
        <table class="center" style="margin-bottom: 3em;">
          <tr>
            <td><b>Location:</b></td>
            <td>{{ location_name }}</td>
          </tr>
          <tr>
            <td><b>Date:</b></td>
            <td>{{ booking_date }}</td>
          </tr>
          <tr>
            <td style="vertical-align: top;"><b>Booked:</b></td>
            <td style="vertical-align: top;">
              <div id="bookingTimesValues">
                {% for study_table_name, times in bookings.items() %}
                {% for start_time, end_time in times %}
                {{ study_table_name }}: {{ start_time }}-{{ end_time }}<br/>
                {% endfor %}
                {% endfor %}
              </div>
            </td>
          </tr>
      </table>

      <button id="returnButton">Return</button>
    </div>
    <script>
      document.getElementById("returnButton").addEventListener("click", function() {
        window.location.href = "/"
      });
    </script>
    </div>
  </body>
</html>